@media screen and (min-width:480px) {
    .container {
        width: 428px;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: auto;
        margin-right: auto;
    }

/*====================MAIN====================*/
/* ======================section-title================== */
    .title {
        width: 320px;
    }
/* ======================/section-title================== */
/*====================/MAIN====================*/
/*====================FOOTER====================*/
    .content-footer{
        width: 268px;
    }   
/*====================/FOOTER====================*/
    .model{
        width: 392px;
       
    }

}



@media screen and (max-width:767px) {
/*====================HEADER==================*/
    
    .page-header-contact-link-mobile {
        display: none;
    }

    .page-header-nav-mobile {
        display: none;
    }

/*====================MOBILE MENU====================*/

    .mobile-menu {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 100;
        top: 0px;
        left: 0px;
        margin-left: 0;
        margin-right: 0;
        background-color: #FFFFFF;
        transition: opacity var(--transition-duration-and-timing-function), visibility var(--transition-duration-and-timing-function);
    }


    .mobile-menu.is-open {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }



    .container-mobile-menu {
        position: relative;
        padding-top: 80px;
        padding-bottom: 40px;
    }

    .button-model-mobile-menu {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 40px;
        right: 40px;
        outline: none;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon-social-list-mobile-menu {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
/*====================/MOBILE MENU====================*/
/*====================/HEADER==================*/

/*====================MAIN====================*/
@media screen and (min-device-pixel-radio: 2) and (max-width:767px),
screen and (min-resolution: 192dpi) and (max-width:767px),
screen and (min-resolution: 2dppx) and (max-width:767px){
    .section-title{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/people_office_mobile@2x.jpg);
    }
}
/*====================/MAIN====================*/





}