@media screen and (min-width:768px) {
    .container {
            width: 768px;
    }

   

/* =====================HEADER======================= */
    .logo-header {
        margin-right: 123px;
    }
    
    .button-mobile-menu{
        display: none;
    }
    
    .mobile-menu{
        display: none;
    }

    .page-header-nav{
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin-bottom: 0;
    }

    .nav-link-header {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
    }

    .page-header-contact-link {
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin-bottom: 0;
        margin-left: auto;
    }

    .contact-link {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.33;
    }


    .nav-link-header.current::after {
        position: absolute;
        bottom: 0;
        display: block;
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--color-text-nav-hover-focus-active);
    }

/* =====================/HEADER======================= */

/*====================MAIN====================*/
/* ======================section-title================== */
    .section-title{
        padding-bottom: 108px;
        background-size: 768px 436px;
    }


    @media screen and (min-width:768px){
        .section-title {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/people_office_tablet.jpg);
            }
    }


    @media screen and (min-device-pixel-radio: 2) and (min-width:768px),
    screen and (min-resolution: 192dpi) and (min-width:768px),
    screen and (min-resolution: 2dppx) and (min-width:768px) {
        .section-title {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/people_office_tablet@2x.jpg);
        }
    }


    .title{
        width: 500px;
        font-weight: 700;
        font-size: 56px;
        line-height: 1;
        margin-bottom: 40px;
    }

/* ======================/section-title================== */
/* ======================section-features================== */
    
  

    .features{
        row-gap: 72px;
        column-gap: 24px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .box-features{
        width: 326px;
        flex-wrap: wrap;
        align-items: flex-start;
    }
/* ======================/section-features================== */
/* ======================section-our-team================== */
    .section-our-team{
        padding-bottom: 104px;
    }

    .container-our-team{
        row-gap: 72px;
        column-gap: 24px;
    }

/* ======================/section-our-team================== */
/* ======================section-customers================== */
    .list-icon-customers{
        width: 552px;
        height: 248px;
        margin-left: auto;
        margin-right: auto;
    }

    .item-customers {
        width: 168px;
    }
/* ======================/section-customers================== */
/*====================/MAIN====================*/
/*====================FOOTER====================*/
    


    .list-footer {
        width: 552px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 24px;
        margin-left: auto;
        margin-right: auto;
    }

    .item-footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: auto;
    }

    
    .content-footer{
        margin-bottom: 72px;
    }


    .link-social-icon-footer{
        margin-bottom: 0;
    }    


    .list-social-icon-footer{
        margin-bottom: 102px;
    }
    
    .form-email-input-footer{
        width: 453px;
    }

    .box-input-button-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: auto;

    }

    .form-input-footer{
        width: 264px;
        margin-bottom: 0;
        margin-right: 24px;
    }

    .form-email-input-footer{
        align-items: flex-start;
    }

/*====================/FOOTER====================*/
/*====================MODEL-WINDOW====================*/
        .model {
            padding-top: 72px;
            width: 408px;
            height: 586px;
            overflow-y: scroll;
        }

/*====================/MODEL-WINDOW====================*/

/*====================PORTFOLIO====================*/
/*====================section-filters====================*/
    .container-filters {
        flex-direction: row;
        column-gap:24px;
        padding-top: 64px;
        padding-bottom: 64px;
        justify-content: center;
    }
    

/*====================/section-filters====================*/

/*====================section-photo-portfolio====================*/
    .container-photo-portfolio{
        flex-direction: row;
        column-gap: 24px;
        padding-bottom: 96px;
        justify-content: flex-start;
    }
        
        
    .box-photo-portfolio{
        width: calc((100% - 30px)/2)
    }
/*====================/section-photo-portfolio====================*/
/*====================/PORTFOLIO====================*/


}
